/* RESETE CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declaração de variáveis no css */

:root{
    --vermellho: #e50914;
    --preta: #141414;
}

/* Elementos base */
body {
    background: var(--preta);
    font-family: 'Helvetica', Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /* vem como default */
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermellho);
    font-family: 'Arial Black' Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* Filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0,.50)100%), url('../img/blade-runner.png');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.filme-principal .description{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucinda Sans Unicode', Arial, Helvetica, sans-serif;
}

.button{
    background-color: rgba(0,0,0, .50);
    border: none;
    color:white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.button:hover{
    background-color: white;
    color:black;
}

.button i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies {
    margin-top: 5px;
}